@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document url-prefix("http://jira") {

  /* Make common font larger */
  body, p, ul, ol, dl, li, td, textarea, input, select, button, option, optgroup, #issuetable .summary {
    font-size: 13px;
  }

  /* Make main table width not 100% */
  body > table {
    max-width: 1500px;
    margin: 0 auto;
  }

  /* Make links underlined only when hovered */
  body > table a {
    text-decoration: none !important;
  }
  body > table a:hover {
    text-decoration: underline !important;
  }

  /* Remove alternate table even row color */
  .rowAlternate {
      background-color: #fff;
  }

  /* All portlets: increase headers paddings */
  tr.rowHeader td {
    padding: 8px;
  }

  /* Show Saved Filter portlets */
  table[id^="searchresults_portlet"] {
    border-collapse: collapse;
    border: 1px solid #bbb;
  }
  table[id^="searchresults_portlet"] tr {
    border-bottom: 1px solid #bbb;
  }
  table[id^="searchresults_portlet"] tr td {
    padding: 8px;
  }
  table[id^="searchresults_portlet"] tr td:nth-child(3) {
    font-size: 14px !important;
  }

  /* Favorite Filters portlets */
  table[id^="ff_portlet_main_table"] table[id^="ff_portlet_row"] {
    margin: 5px 0; /* 8 (required) - 3 (cellpadding) = 5px */
  }

  /* Issue Navigator table */
  #issuetable {
    border-collapse: collapse;
    border: 1px solid #bbb;
  }
  #issuetable tr {
    border-bottom: 1px solid #bbb;
  }
  #issuetable tr td {
    padding: 8px;
  }

  /* Use new issue icons */
  img[src="/images/icons/bugZ.gif"] {
    background-image: url("https://jira.atlassian.com/images/icons/issuetypes/bug.png");
  }
  img[src="/images/icons/improvement.gif"] {
    background-image: url("https://jira.atlassian.com/images/icons/issuetypes/improvement.png");
  }
  img[src="/images/icons/newfeature.gif"] {
    background-image: url("https://jira.atlassian.com/images/icons/issuetypes/newfeature.png");
  }
  img[src="/images/icons/undefined.gif"] {
    background-image: url("https://jira.atlassian.com/images/icons/issuetypes/genericissue.png");
  }
  img[src="/images/icons/task2.gif"] {
    background-image: url("https://jira.atlassian.com/images/icons/issuetypes/task.png");
  }
  img[src="/images/icons/bugZ.gif"],
  img[src="/images/icons/improvement.gif"],
  img[src="/images/icons/newfeature.gif"],
  img[src="/images/icons/undefined.gif"],
  img[src="/images/icons/task2.gif"] {
    width: 16px;
    height: 0px !important;
    display: inline-block;
    padding: 16px 0 0 0;
  }

  /* Make portlet header blue */
  tr.rowHeader, .actionLinks {
    background-color: #3c78b5;
  }
  tr.rowHeader *, .colHeaderLink a {
    color: #fff;
  }
  span.switch {
    color: #eee
  }
  tr.rowHeader .toDay, tr.rowHeader .nonBusinessDay {
    /* Use black color on Time Sheet Summary portlet header */
    color: black;
  }

  /* Increase portlet margins */
  .projectTable, .tableBorder {
    width: 98%;
  }
  body > table > tbody > tr > td > table > tbody > tr > td > p {
    margin: 20px 0;
  }

}
