@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document url-prefix("http://jira") {

  body > table {
    width: 75%;
    margin: 0 auto;
  }

  .rowAlternate {
      background-color: #fff;
  }

  table[id^="searchresults_portlet"] {
    border-collapse: collapse;
    border: 1px solid #bbb;
  }
  table[id^="searchresults_portlet"] tr {
    border-bottom: 1px solid #bbb;
  }
  table[id^="searchresults_portlet"] tr td {
    padding: 8px;
  }
  table[id^="searchresults_portlet"] tr td:nth-child(2) a {
    text-decoration: none;
  }
  table[id^="searchresults_portlet"] tr td:nth-child(3) {
    font-size: 14px !important;
  }

}
