@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document url-prefix("http://jira") {

  body > table {
    width: 75%;
    margin: 0 auto;
  }

  .rowAlternate {
      background-color: #fff;
  }

  table[id^="searchresults_portlet"] {
    border-collapse: collapse;
    border: 1px solid #bbb;
  }
  table[id^="searchresults_portlet"] tr {
    border-bottom: 1px solid #bbb;
  }
  table[id^="searchresults_portlet"] tr td {
    padding: 8px;
  }
  table[id^="searchresults_portlet"] tr td:nth-child(2) a {
    text-decoration: none;
  }
  table[id^="searchresults_portlet"] tr td:nth-child(3) {
    font-size: 14px !important;
  }

  img[src="/images/icons/bugZ.gif"] {
    background-image: url("https://jira.atlassian.com/images/icons/issuetypes/bug.png");
  }
  img[src="/images/icons/improvement.gif"] {
    background-image: url("https://jira.atlassian.com/images/icons/issuetypes/improvement.png");
  }
  img[src="/images/icons/newfeature.gif"] {
    background-image: url("https://jira.atlassian.com/images/icons/issuetypes/newfeature.png");
  }
  img[src="/images/icons/undefined.gif"] {
    background-image: url("https://jira.atlassian.com/images/icons/issuetypes/genericissue.png");
  }
  img[src="/images/icons/task2.gif"] {
    background-image: url("https://jira.atlassian.com/images/icons/issuetypes/task.png");
  }
  img[src="/images/icons/bugZ.gif"],
  img[src="/images/icons/improvement.gif"],
  img[src="/images/icons/newfeature.gif"],
  img[src="/images/icons/undefined.gif"],
  img[src="/images/icons/task2.gif"] {
    width: 16px;
    height: 0px !important;
    display: inline-block;
    padding: 16px 0 0 0;
  }

}
