@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document regexp("https?://jira.*") {

  /* Make common font larger */
  body, p, ul, ol, dl, li, td, textarea, input, select, button, option, optgroup, #issuetable .summary {
    font-size: 13px;
  }

  /* Make main table width not 100% */
  body > table {
    max-width: 1500px;
    margin: 0 auto;
  }

  /* Make links underlined only when hovered */
  body > table a {
    text-decoration: none !important;
  }
  body > table a:hover {
    text-decoration: underline !important;
  }

  /* Remove alternate table even row color */
  .rowAlternate {
      background-color: #fff;
  }

  /* All portlets: increase headers paddings */
  tr.rowHeader td {
    padding: 8px;
  }

  /* Show Saved Filter portlets */
  table[id^="searchresults_portlet"] {
    border-collapse: collapse;
    border: 1px solid #bbb;
  }
  table[id^="searchresults_portlet"] tr {
    border-bottom: 1px solid #bbb;
  }
  table[id^="searchresults_portlet"] tr td {
    padding: 8px;
  }
  table[id^="searchresults_portlet"] tr td:nth-child(3) {
    font-size: 14px !important;
  }

  /* Favorite Filters portlets */
  table[id^="ff_portlet_main_table"] > tbody > tr > td {
    padding: 8px;
  }

  /* Project portlet */
  .projectTable > tbody > tr > td {
    padding: 8px;
  }

  /* Recently Created Issues portlet */
  div[id^="portletcc"] td.colHeaderLink {
    padding: 8px;
  }

  /* Issue Navigator table */
  #issuetable {
    border-collapse: collapse;
    border: 1px solid #bbb;
  }
  #issuetable tr {
    border-bottom: 1px solid #bbb;
  }
  #issuetable tr td {
    padding: 8px;
  }

  /* Use new issue icons */
  img[src="/images/icons/bugZ.gif"] {
    background-image: url("https://jira.atlassian.com/images/icons/issuetypes/bug.png");
  }
  img[src="/images/icons/improvement.gif"] {
    background-image: url("https://jira.atlassian.com/images/icons/issuetypes/improvement.png");
  }
  img[src="/images/icons/newfeature.gif"] {
    background-image: url("https://jira.atlassian.com/images/icons/issuetypes/newfeature.png");
  }
  img[src="/images/icons/undefined.gif"] {
    background-image: url("https://jira.atlassian.com/images/icons/issuetypes/genericissue.png");
  }
  img[src="/images/icons/task2.gif"] {
    background-image: url("https://jira.atlassian.com/images/icons/issuetypes/task.png");
  }
  img[src="/images/icons/sub-task.gif"] {
    background-image: url("https://jira.atlassian.com/images/icons/issuetypes/subtask_alternate.png");
  }

  /* Use new priority icons */
  img[src="/images/icons/priority_blocker.gif"] {
    background-image: url("https://jira.atlassian.com/images/icons/priorities/blocker.png");
  }
  img[src="/images/icons/priority_critical.gif"] {
    background-image: url("https://jira.atlassian.com/images/icons/priorities/critical.png");
  }
  img[src="/images/icons/priority_major.gif"] {
    background-image: url("https://jira.atlassian.com/images/icons/priorities/major.png");
  }
  img[src="/images/icons/priority_minor.gif"] {
    background-image: url("https://jira.atlassian.com/images/icons/priorities/minor.png");
  }
  img[src="/images/icons/priority_trivial.gif"] {
    background-image: url("https://jira.atlassian.com/images/icons/priorities/trivial.png");
  }

  /* Replace image source with background image */
  img[src="/images/icons/bugZ.gif"],
  img[src="/images/icons/improvement.gif"],
  img[src="/images/icons/newfeature.gif"],
  img[src="/images/icons/undefined.gif"],
  img[src="/images/icons/task2.gif"],
  img[src="/images/icons/sub-task.gif"],
  img[src="/images/icons/priority_blocker.gif"],
  img[src="/images/icons/priority_critical.gif"],
  img[src="/images/icons/priority_major.gif"],
  img[src="/images/icons/priority_minor.gif"],
  img[src="/images/icons/priority_trivial.gif"] {
    width: 16px;
    height: 0px !important;
    display: inline-block;
    padding: 16px 0 0 0;
  }

  /* Make portlet header blue */
  tr.rowHeader, .actionLinks {
    background-color: #3c78b5;
  }
  tr.rowHeader *, .colHeaderLink a {
    color: #fff;
  }
  span.switch {
    color: #eee
  }
  tr.rowHeader .toDay, tr.rowHeader .nonBusinessDay {
    /* Use black color on Time Sheet Summary portlet header */
    color: black;
  }
  table.versionBanner .colHeaderLink a {
    /* Reset color for Road Map table */
    color: #000;
  }

  /* Increase portlet margins */
  .projectTable, .tableBorder {
    width: 98%;
  }
  body > table > tbody > tr > td > table > tbody > tr > td > p {
    margin: 20px 0;
  }

  /* Make comment form wider */
  #commentDiv table.jiraform.maxWidth {
    width: 100%;
  }

  /* Increase issue title margins */
  .formtitle {
    margin: 10px 0;
  }

  /* Make issue links as a single column */
  #issueContent td[width="50%"] {
    float: left;
    width: 600px;
  }

}
